@page "/dashboard"

@using Havensread.Connector
@using Havensread.Connector.Messages
@* @using MassTransit *@
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@* @inject IBus Bus *@

<PageTitle>Dashboard</PageTitle>

<button @onclick="StartWorkers">Start Workers</button>
<button @onclick="StopCoordinator">Stop Coordinator</button>
<button @onclick="() => StartWorker(WorkerNames.BookIngestionWorker)">Start Worker</button>
<button @onclick="() => StopWorker(WorkerNames.BookIngestionWorker)">Stop Worker</button>
@* <button @onclick="Send">Send</button> *@

<table>
    <thead>
        <tr>
            <th>Worker Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var worker in workerStatuses)
        {
            <tr>
                <td>@worker.Name</td>
                <td>@worker.Status</td>
            </tr>
        } *@
    </tbody>
</table>
